# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Deployment
.vercel

# IDE / Editor
.vscode
.cursor
.claude

# Secrets / Keys
*.pem
*.key
